# Servidor
PORT=4000
NODE_ENV=development

# Base de datos MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=tu_password_mysql
DB_NAME=skyship_db

# JWT
JWT_SECRET=cambia_esto_por_una_cadena_larga_y_aleatoria_en_produccion
JWT_EXPIRES_IN=7d

# CORS
FRONTEND_URL=http://localhost:5173
